body {
    direction: rtl;
    text-align: right;
}

table {
    width: 100%;
}

table, th, td {
    border: 1px solid #334155;
}

th, td {
    padding: 10px;
}

tbody > tr:nth-child(even) {
    background-color: #e2e8f0;
}

.swal-button--ok, .swal-button--confirm {
    background-color: #6875F5;
}

.swal-button--ok:hover, .swal-button--confirm:hover {
    background-color: #4d5dff !important;
}